If you need to transfer lots of files and familiar with console, try <a target="_blank" href="https://github.com/uploadcare/uploadcare-wordpress-transfer">uploadcare/uploadcare-wordpress-transfer</a>
