<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">
                ./includes
            </directory>
            <exclude>
                <file>
                    ./includes/uploadcare_settings.php
                </file>
            </exclude>
            <directory suffix=".php">
                ./admin
            </directory>
            <file>
                ./uploadcare.php
            </file>
        </whitelist>
    </filter>
</phpunit>
