.uploadcare-picker {

  &__button {
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 23px;
    background-image: url('https://ucarecdn.com/assets/images/logo.png');
    padding-left: 32px !important;
    border: solid 1px #007cba;
    margin-left: 6px;
  }
}

.uploadcare-loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background-color: rgba(48, 48, 48, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uploadcare-hidden {
  display: none;
}
